.cp-stepper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  color: var(--black);

  &-item {
    display: flex;
    position: relative;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    min-width: 0;

    &:last-child {
      .cp-stepper-separator {
        display: none;
      }
    }

    &:hover {
      .cp-stepper-link {
        color: var(--black);
      }
      .cp-stepper-count {
        background: var(--black);
      }
    }

    &--active {
      .cp-stepper-link {
        color: var(--primary-brand);
      }
      .cp-stepper-count {
        background: var(--primary-brand);
      }
    }
  }

  &-link {
    display: inline-block;
    padding: var(--space-0) var(--space-2);
    font-size: inherit;
    line-height: var(--space-5);
    color: var(--text-muted);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  &-count {
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    margin-bottom: var(--space-2);
    border: 5px solid var(--white);
    border-radius: var(--radius-round);
    font-size: 14px;
    line-height: 1;
    color: var(--white);
    background: var(--gray-500);
    cursor: pointer;

    .cp-icon.cp-stepper-count-icon,
    .cp-stepper-count-icon {
      font-size: var(--space-5);
      line-height: 1;
      color: var(--white);
    }
  }

  &-separator {
    display: block;
    position: absolute;
    top: 19px;
    left: 50%;
    z-index: 0;
    width: 100%;
    height: 1px;
    background: var(--gray-500);
  }

  @media (max-width: 600px) {
    .cp-stepper-link {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
