.cp-progress-icon {
  animation: spin-animation 700ms infinite;
  animation-timing-function: linear;
  display: inline-block;
  color: var(--primary-brand);
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cp-progress-bar {
  min-width: 128px;
  width: 100%;
  position: relative;
  border-width: 0;
  .cp-progress-bar-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--gray-light);
    border-width: 0;
  }
  .cp-progress-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    border-radius: 3px;
    background: var(--gray);
    transition: width 400ms ease-in-out;
    border-width: 0;
  }
  &.default {
    .cp-progress-bar-track {
      background: var(--gray-light);
    }
    .cp-progress-bar-fill {
      background: var(--gray);
    }
  }
  &.primary {
    .cp-progress-bar-track {
      background: var(--primary-brand-light);
    }
    .cp-progress-bar-fill {
      background: var(--primary-brand);
    }
  }
  &.secondary {
    .cp-progress-bar-track {
      background: var(--secondary-brand-light);
    }
    .cp-progress-bar-fill {
      background: var(--secondary-brand);
    }
  }
  &.success {
    .cp-progress-bar-track {
      background: var(--green-light);
    }
    .cp-progress-bar-fill {
      background: var(--green);
    }
  }
  &.error {
    .cp-progress-bar-track {
      background: var(--red-light);
    }
    .cp-progress-bar-fill {
      background: var(--red);
    }
  }
  &.warning {
    .cp-progress-bar-track {
      background: var(--yellow-light);
    }
    .cp-progress-bar-fill {
      background: var(--yellow);
    }
  }
  &.info {
    .cp-progress-bar-track {
      background: var(--blue-light);
    }
    .cp-progress-bar-fill {
      background: var(--blue);
    }
  }
  &.small {
    height: 4px;
    .cp-progress-bar-track,
    .cp-progress-bar-fill {
      height: 4px;
      border-radius: 2px;
    }
  }
  &.medium {
    height: 8px;
    .cp-progress-bar-track,
    .cp-progress-bar-fill {
      height: 8px;
      border-radius: 4px;
    }
  }
  &.large {
    height: 12px;
    .cp-progress-bar-track,
    .cp-progress-bar-fill {
      height: 12px;
      border-radius: 6px;
    }
  }
}
