.cp-badge {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
  color: var(--white);
  padding: 0 8px;
  border-radius: 4px;
  max-width: 300px;
  display: inline-block;
  font-size: 13px;

  &.cp-badge--info {
    background: var(--blue);
  }

  &.cp-badge--success {
    background: var(--green);
  }

  &.cp-badge--error {
    background: var(--red);
  }

  &.cp-badge--default {
    background: var(--gray-500);
  }

  &.cp-badge--warning {
    background: var(--orange);
  }
}
