.badge {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
  color: var(--white);
  padding: 0 8px;
  border-radius: 4px;
  max-width: 300px;
  display: inline-block;
  font-size: 13px;
  &.info {
    background: var(--blue);
  }
  &.success {
    background: var(--green);
  }
  &.error {
    background: var(--red);
  }
  &.default {
    background: var(--gray);
  }
  &.warning {
    background: var(--orange);
  }
}
