.cp-animated {
  opacity: 0;
  will-change: opacity, visibility, visibility;
  display: inline-block;

  &.cp-animated--block {
    display: block;
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cp-animated {
  &.cp-animated--fade-in-top {
    animation: fadeInFromTop 300ms ease-in forwards;
  }
}

@keyframes fadeOutToTop {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50%);
  }
}

.cp-animated {
  &.cp-animated--fade-out-top {
    animation: fadeOutToTop 300ms ease-out forwards;
  }
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.cp-animated {
  &.cp-animated--fade-in-left {
    animation: fadeInFromLeft 300ms ease-in forwards;
  }
}

@keyframes fadeOutToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50%);
  }
}

.cp-animated {
  &.cp-animated--fade-out-left {
    animation: fadeOutToLeft 300ms ease-out forwards;
  }
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.cp-animated {
  &.cp-animated--fade-in-right {
    animation: fadeInFromRight 300ms ease-in forwards;
  }
}

@keyframes fadeOutToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50%);
  }
}

.cp-animated {
  &.cp-animated--fade-out-right {
    animation: fadeOutToRight 300ms ease-out forwards;
  }
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cp-animated {
  &.cp-animated--fade-in-bottom {
    animation: fadeInFromBottom 300ms ease-in forwards;
  }
}

@keyframes fadeOutToBottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50%);
  }
}

.cp-animated {
  &.cp-animated--fade-out-bottom {
    animation: fadeOutToBottom 300ms ease-out forwards;
  }
}

.cp-animated {
  &.cp-animated--delay-100 {
    animation-delay: 100ms;
  }

  &.cp-animated--delay-200 {
    animation-delay: 200ms;
  }

  &.cp-animated--delay-300 {
    animation-delay: 300ms;
  }

  &.cp-animated--delay-400 {
    animation-delay: 400ms;
  }

  &.cp-animated--delay-500 {
    animation-delay: 500ms;
  }

  &.cp-animated--delay-600 {
    animation-delay: 600ms;
  }

  &.cp-animated--delay-700 {
    animation-delay: 700ms;
  }

  &.cp-animated--delay-800 {
    animation-delay: 800ms;
  }

  &.cp-animated--delay-900 {
    animation-delay: 900ms;
  }

  &.cp-animated--delay-1000 {
    animation-delay: 1000ms;
  }

  &.cp-animated--delay-1100 {
    animation-delay: 1100ms;
  }

  &.cp-animated--delay-1200 {
    animation-delay: 1200ms;
  }

  &.cp-animated--delay-1300 {
    animation-delay: 1300ms;
  }

  &.cp-animated--delay-1400 {
    animation-delay: 1400ms;
  }

  &.cp-animated--delay-1500 {
    animation-delay: 1500ms;
  }

  &.cp-animated--delay-1600 {
    animation-delay: 1600ms;
  }

  &.cp-animated--delay-1700 {
    animation-delay: 1700ms;
  }

  &.cp-animated--delay-1800 {
    animation-delay: 1800ms;
  }

  &.cp-animated--delay-1900 {
    animation-delay: 1900ms;
  }

  &.cp-animated--delay-2000 {
    animation-delay: 2000ms;
  }

  &.cp-animated--delay-2100 {
    animation-delay: 2100ms;
  }

  &.cp-animated--delay-2200 {
    animation-delay: 2200ms;
  }

  &.cp-animated--delay-2300 {
    animation-delay: 2300ms;
  }

  &.cp-animated--delay-2400 {
    animation-delay: 2400ms;
  }

  &.cp-animated--delay-2500 {
    animation-delay: 2500ms;
  }

  &.cp-animated--delay-2600 {
    animation-delay: 2600ms;
  }

  &.cp-animated--delay-2700 {
    animation-delay: 2700ms;
  }

  &.cp-animated--delay-2800 {
    animation-delay: 2800ms;
  }

  &.cp-animated--delay-2900 {
    animation-delay: 2900ms;
  }

  &.cp-animated--delay-3000 {
    animation-delay: 3000ms;
  }
}
