.animated {
  opacity: 0;
  will-change: opacity, visibility, visibility;
  display: inline-block;
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-top {
  animation: fadeInFromTop 300ms ease-in forwards;
}

@keyframes fadeOutToTop {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50%);
  }
}

.fade-out-top {
  animation: fadeOutToTop 300ms ease-out forwards;
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  animation: fadeInFromLeft 300ms ease-in forwards;
}

@keyframes fadeOutToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50%);
  }
}

.fade-out-left {
  animation: fadeOutToLeft 300ms ease-out forwards;
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fadeInFromRight 300ms ease-in forwards;
}

@keyframes fadeOutToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50%);
  }
}

.fade-out-right {
  animation: fadeOutToRight 300ms ease-out forwards;
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-bottom {
  animation: fadeInFromBottom 300ms ease-in forwards;
}

@keyframes fadeOutToBottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50%);
  }
}

.fade-out-bottom {
  animation: fadeOutToBottom 300ms ease-out forwards;
}

.is-block {
  display: block;
}

.delay-100 {
  animation-delay: 100ms;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-300 {
  animation-delay: 300ms;
}

.delay-400 {
  animation-delay: 400ms;
}

.delay-500 {
  animation-delay: 500ms;
}

.delay-600 {
  animation-delay: 600ms;
}

.delay-700 {
  animation-delay: 700ms;
}

.delay-800 {
  animation-delay: 800ms;
}

.delay-900 {
  animation-delay: 900ms;
}

.delay-1000 {
  animation-delay: 1000ms;
}

.delay-1100 {
  animation-delay: 1100ms;
}

.delay-1200 {
  animation-delay: 1200ms;
}

.delay-1300 {
  animation-delay: 1300ms;
}

.delay-1400 {
  animation-delay: 1400ms;
}

.delay-1500 {
  animation-delay: 1500ms;
}

.delay-1600 {
  animation-delay: 1600ms;
}

.delay-1700 {
  animation-delay: 1700ms;
}

.delay-1800 {
  animation-delay: 1800ms;
}

.delay-1900 {
  animation-delay: 1900ms;
}

.delay-2000 {
  animation-delay: 2000ms;
}

.delay-2100 {
  animation-delay: 2100ms;
}

.delay-2200 {
  animation-delay: 2200ms;
}

.delay-2300 {
  animation-delay: 2300ms;
}

.delay-2400 {
  animation-delay: 2400ms;
}

.delay-2500 {
  animation-delay: 2500ms;
}

.delay-2600 {
  animation-delay: 2600ms;
}

.delay-2700 {
  animation-delay: 2700ms;
}

.delay-2800 {
  animation-delay: 2800ms;
}

.delay-2900 {
  animation-delay: 2900ms;
}

.delay-3000 {
  animation-delay: 3000ms;
}
