.cp-container {
  font-family: inherit;
  font-size: inherit;
  padding: 0 16px;
  border: 1px solid transparent;
  background: #3e63dd;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 8px;
  justify-content: center;
}

/* Margins */
.margin-top-none {
  margin-top: 0;
}

.margin-right-none {
  margin-right: 0;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-left-none {
  margin-left: 0;
}

.margin-top-small {
  margin-top: 4px;
}

.margin-right-small {
  margin-right: 4px;
}

.margin-bottom-small {
  margin-bottom: 4px;
}

.margin-left-small {
  margin-left: 4px;
}

.margin-top-medium {
  margin-top: 8px;
}

.margin-right-medium {
  margin-right: 8px;
}

.margin-bottom-medium {
  margin-bottom: 8px;
}

.margin-left-medium {
  margin-left: 8px;
}

.margin-top-large {
  margin-top: 16px;
}

.margin-right-large {
  margin-right: 16px;
}

.margin-bottom-large {
  margin-bottom: 16px;
}

.margin-left-large {
  margin-left: 32px;
}

.margin-top-extra-large {
  margin-top: 32px;
}

.margin-right-extra-large {
  margin-right: 32px;
}

.margin-bottom-extra-large {
  margin-bottom: 32px;
}

.margin-left-extra-large {
  margin-left: 32px;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
