.container {
  border: 1px solid transparent;
  border-radius: 8px;
}
/* Border */
.border {
  border-color: var(--gray);
}

/* Display */
.width {
  &-small {
    width: var(--length-small);
  }
  &-medium {
    width: var(--length-medium);
  }
  &-large {
    width: var(--length-large);
  }
  &-extra-large {
    width: calc(var(--length-extra-large) - 12px);
  }
  &-quarter {
    width: calc(var(--length-quarter) - 12px);
  }
  &-one-third {
    width: calc(var(--length-one-third) - 11px);
  }
  &-half {
    width: var(--length-half);
  }
  &-three-quarters {
    width: var(--length-three-quarters);
  }
  &-full {
    width: var(--length-full);
  }
  @media (max-width: 600px) {
    &-small,
    &-medium,
    &-large,
    &-extra-large,
    &-quarter,
    &-one-third,
    &-half,
    &-three-quarters,
    &-full {
      width: 100%;
    }
  }
}

/* Display */
.display {
  &-block {
    display: block;
  }
  &-inline-block {
    display: inline-block;
  }
  &-flex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-4);
  }
}

/* Flex Alignment */
.align {
  &-start {
    align-items: flex-start;
  }
  &-center {
    align-items: center;
  }
  &-end {
    align-items: flex-end;
  }
}

/* Flex Justify */
.justify {
  &-space-between {
    justify-content: space-between;
  }
  &-center {
    justify-content: center;
  }
  &-space-around {
    justify-content: space-around;
  }
  &-space-evenly {
    justify-content: space-evenly;
  }
}
