.cp-container {
  border: 1px solid transparent;
  border-radius: var(--cp-form-control-radius);

  &.cp-container--border {
    border-color: var(--gray-200);
  }

  &.cp-container--width-small {
    width: var(--length-small);
  }

  &.cp-container--width-medium {
    width: var(--length-medium);
  }

  &.cp-container--width-large {
    width: var(--length-large);
  }

  &.cp-container--width-extra-large {
    width: calc(var(--length-extra-large) - 12px);
  }

  &.cp-container--width-quarter {
    width: calc(var(--length-quarter) - 12px);
  }

  &.cp-container--width-one-third {
    width: calc(var(--length-one-third) - 11px);
  }

  &.cp-container--width-half {
    width: var(--length-half);
  }

  &.cp-container--width-three-quarters {
    width: var(--length-three-quarters);
  }

  &.cp-container--width-full {
    width: var(--length-full);
  }

  @media (max-width: 600px) {
    &.cp-container--width-small,
    &.cp-container--width-medium,
    &.cp-container--width-large,
    &.cp-container--width-extra-large,
    &.cp-container--width-quarter,
    &.cp-container--width-one-third,
    &.cp-container--width-half,
    &.cp-container--width-three-quarters,
    &.cp-container--width-full {
      width: 100%;
    }
  }

  &.cp-container--display-block {
    display: block;
  }

  &.cp-container--display-inline-block {
    display: inline-block;
  }

  &.cp-container--display-flex {
    display: flex;
    flex-wrap: wrap;
  }

  &.cp-container--align-start {
    align-items: flex-start;
  }

  &.cp-container--align-center {
    align-items: center;
  }

  &.cp-container--align-end {
    align-items: flex-end;
  }

  &.cp-container--justify-space-between {
    justify-content: space-between;
  }

  &.cp-container--justify-center {
    justify-content: center;
  }

  &.cp-container--justify-space-around {
    justify-content: space-around;
  }

  &.cp-container--justify-space-evenly {
    justify-content: space-evenly;
  }

  &.cp-container--justify-flex-end {
    justify-content: flex-end;
  }

  &.cp-container--justify-flex-start {
    justify-content: flex-start;
  }
}
