.container {
  border: 1px solid transparent;
  border-radius: 8px;
}
/* Border */
.border {
  border-color: var(--gray);
}
/* Width */
.width-small {
  width: var(--length-small);
}
.width-medium {
  width: var(--length-medium);
}
.width-large {
  width: var(--length-large);
}
.width-extra-large {
  width: var(--length-extra-large);
}
.width-quarter {
  width: calc(var(--length-quarter) - 12px);
}
.width-one-third {
  width: calc(var(--length-one-third) - 11px);
}
.width-haf {
  width: var(--length-half);
}
.width-three-quarters {
  width: var(--length-three-quarters);
}
.width-full {
  width: var(--length-full);
}
/* Display */
.display {
  &-block {
    display: block;
  }
  &-inline-block {
    display: inline-block;
  }
  &-flex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-4);
  }
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}
