.cp-media-object {
  display: flex;
  gap: var(--space-4);
  padding: var(--space-2);
  &:hover {
    background-color: var(--gray-light);
    cursor: pointer;
  }
}

.cp-media-object-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-1);
  small {
    opacity: 0.5;
  }
}

.cp-media-object-media {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-brand-light);
  border-radius: var(--radius-round);
}
.cp-media-object-icon {
  color: var(--black);
  padding: 8px;
}

.cp-media-object-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-round);
}

.cp-media-object-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-round);
}