/* Variables */
:root {
  /* Colors */
  --white: #ffffff;
  --black: #222222;
  --gray: #8b8d98;
  --green: #46a758;
  --blue: #1e90ff;
  --red: #e5484d;
  --yellow: #ffe629;
  --orange: #f76b15;
  /* Border Radius */
  --radius-none: 0;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;
  --radius-round: 50%;
  /* Spacing */
  --space-none: 0;
  --space-small: 4px;
  --space-medium: 8px;
  --space-large: 16px;
  --space-extra-large: 32px;
  /* length */
  --length-small: 240px;
  --length-medium: 360px;
  --length-large: 480px;
  --length-extra-large: 600px;
  --length-quarter: 25%;
  --length-one-third: 33.33333%;
  --length-half: 50%;
  --length-three-quarters: 75%;
  --length-full: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 16px;
  line-height: 1;
  color: #222;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #ccc;
  height: 44px;
}
