/* Variables */
:root {
  /* Colors */
  --white: #ffffff;
  --black: #222222;
  --gray: #8b8d98;
  --green: #46a758;
  --blue: #1e90ff;
  --red: #e5484d;
  --yellow: #ffe629;
  --orange: #f76b15;
  --gray-light: #8b8d9825;
  --green-light: #46a75825;
  --blue-light: #1e90ff25;
  --red-light: #e5484d25;
  --yellow-light: #ffe62925;
  --orange-light: #f76c1525;
  --primary-brand: var(--green);
  /* Border Radius */
  --radius-none: 0;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;
  --radius-round: 50%;
  /* Spacing */
  --space-none: 0;
  --space-auto: auto;
  --space-small: 4px;
  --space-medium: 8px;
  --space-large: 16px;
  --space-extra-large: 32px;
  /* length */
  --length-small: 240px;
  --length-medium: 360px;
  --length-large: 480px;
  --length-extra-large: 600px;
  --length-quarter: 25%;
  --length-one-third: 33.33333%;
  --length-half: 50%;
  --length-three-quarters: 75%;
  --length-full: 100%;

  /* Spacing V2 */
  --space-0: 0;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-9: 36px;
  --space-auto: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 16px;
  line-height: 1;
  color: #222;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #ccc;
  height: 44px;
}

:global(.mt) {
  margin-left: 0;
}

:global(.mr) {
  margin-right: 0;
}

:global(.mb) {
  margin-bottom: 0;
  background: red;
}

:global(.ml) {
  margin-left: 0;
}
