/* Variables */
:root {
  /* Colors */
  --white: #ffffff;
  --black: #222222;
  --gray: #8b8d98;
  --green: #46a758;
  --blue: #1e90ff;
  --red: #e5484d;
  --yellow: #ffe629;
  --orange: #f76b15;
  --gray-light: #8b8d9825;
  --green-light: #46a75825;
  --blue-light: #1e90ff25;
  --red-light: #e5484d25;
  --yellow-light: #ffe62954;
  --orange-light: #f76c1525;
  /* Border Radius */
  --radius-none: 0;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;
  --radius-round: 50%;
  /* length */
  --length-small: 240px;
  --length-medium: 360px;
  --length-large: 480px;
  --length-extra-large: 600px;
  --length-quarter: 25%;
  --length-one-third: 33.33333%;
  --length-half: 50%;
  --length-three-quarters: 75%;
  --length-full: 100%;
  /* Spacing V2 */
  --space-0: 0;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-9: 36px;
  --space-auto: auto;
  /*Branding*/
  --primary-brand: var(--green);
  --primary-brand-darker: hsl(from var(--primary-brand) h s calc(l - 5));
  --primary-brand-light: hsl(from var(--primary-brand) h s calc(l + 40));
  --primary-brand-lightest: hsl(from var(--primary-brand) h s calc(l + 50));
  --primary-brand-darkest: hsl(from var(--primary-brand) h s calc(l - 10));
  --secondary-brand: var(--gray);
  --secondary-brand-light: var(--gray-light);
  --success: var(--green);
  --error: var(--red);
  --warning: var(--orange);
  --info: var(--blue);
  /* Breakpoints */
  --mobile-breakpoint: 600px;
  --tablet-breakpoint: 1024px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 16px;
  line-height: 1;
  color: #222;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #ccc;
  height: 44px;
}
