.m {
  &-0 {
    margin: var(--space-0);
  }
  &-1 {
    margin: var(--space-1);
  }
  &-2 {
    margin: var(--space-2);
  }
  &-3 {
    margin: var(--space-3);
  }
  &-4 {
    margin: var(--space-4);
  }
  &-5 {
    margin: var(--space-5);
  }
  &-6 {
    margin: var(--space-6);
  }
  &-7 {
    margin: var(--space-7);
  }
  &-8 {
    margin: var(--space-8);
  }
  &-9 {
    margin: var(--space-9);
  }
  &-auto {
    margin: var(--space-auto);
  }
  &-x {
    &-0 {
      margin-left: var(--space-0);
      margin-right: var(--space-0);
    }
    &-1 {
      margin-left: var(--space-1);
      margin-right: var(--space-1);
    }
    &-2 {
      margin-left: var(--space-2);
      margin-right: var(--space-2);
    }
    &-3 {
      margin-left: var(--space-3);
      margin-right: var(--space-3);
    }
    &-4 {
      margin-left: var(--space-4);
      margin-right: var(--space-4);
    }
    &-5 {
      margin-left: var(--space-5);
      margin-right: var(--space-5);
    }
    &-6 {
      margin-left: var(--space-6);
      margin-right: var(--space-6);
    }
    &-7 {
      margin-left: var(--space-7);
      margin-right: var(--space-7);
    }
    &-8 {
      margin-left: var(--space-8);
      margin-right: var(--space-8);
    }
    &-9 {
      margin-left: var(--space-9);
      margin-right: var(--space-9);
    }
    &-auto {
      margin-left: var(--space-auto);
      margin-right: var(--space-auto);
    }
  }
  &-y {
    &-0 {
      margin-top: var(--space-0);
      margin-bottom: var(--space-0);
    }
    &-1 {
      margin-top: var(--space-1);
      margin-bottom: var(--space-1);
    }
    &-2 {
      margin-top: var(--space-2);
      margin-bottom: var(--space-2);
    }
    &-3 {
      margin-top: var(--space-3);
      margin-bottom: var(--space-3);
    }
    &-4 {
      margin-top: var(--space-4);
      margin-bottom: var(--space-4);
    }
    &-5 {
      margin-top: var(--space-5);
      margin-bottom: var(--space-5);
    }
    &-6 {
      margin-top: var(--space-6);
      margin-bottom: var(--space-6);
    }
    &-7 {
      margin-top: var(--space-7);
      margin-bottom: var(--space-7);
    }
    &-8 {
      margin-top: var(--space-8);
      margin-bottom: var(--space-8);
    }
    &-9 {
      margin-top: var(--space-9);
      margin-bottom: var(--space-9);
    }
    &-auto {
      margin-top: var(--space-auto);
      margin-bottom: var(--space-auto);
    }
  }
  &-t {
    &-0 {
      margin-top: var(--space-0);
    }
    &-1 {
      margin-top: var(--space-1);
    }
    &-2 {
      margin-top: var(--space-2);
    }
    &-3 {
      margin-top: var(--space-3);
    }
    &-4 {
      margin-top: var(--space-4);
    }
    &-5 {
      margin-top: var(--space-5);
    }
    &-6 {
      margin-top: var(--space-6);
    }
    &-7 {
      margin-top: var(--space-7);
    }
    &-8 {
      margin-top: var(--space-8);
    }
    &-9 {
      margin-top: var(--space-9);
    }
    &-auto {
      margin-top: var(--space-auto);
    }
  }
  &-r {
    &-0 {
      margin-right: var(--space-0);
    }
    &-1 {
      margin-right: var(--space-1);
    }
    &-2 {
      margin-right: var(--space-2);
    }
    &-3 {
      margin-right: var(--space-3);
    }
    &-4 {
      margin-right: var(--space-4);
    }
    &-5 {
      margin-right: var(--space-5);
    }
    &-6 {
      margin-right: var(--space-6);
    }
    &-7 {
      margin-right: var(--space-7);
    }
    &-8 {
      margin-right: var(--space-8);
    }
    &-9 {
      margin-right: var(--space-9);
    }
    &-auto {
      margin-right: var(--space-auto);
    }
  }
  &-b {
    &-0 {
      margin-bottom: var(--space-0);
    }
    &-1 {
      margin-bottom: var(--space-1);
    }
    &-2 {
      margin-bottom: var(--space-2);
    }
    &-3 {
      margin-bottom: var(--space-3);
    }
    &-4 {
      margin-bottom: var(--space-4);
    }
    &-5 {
      margin-bottom: var(--space-5);
    }
    &-6 {
      margin-bottom: var(--space-6);
    }
    &-7 {
      margin-bottom: var(--space-7);
    }
    &-8 {
      margin-bottom: var(--space-8);
    }
    &-9 {
      margin-bottom: var(--space-9);
    }
    &-auto {
      margin-bottom: var(--space-auto);
    }
  }
  &-l {
    &-0 {
      margin-left: var(--space-0);
    }
    &-1 {
      margin-left: var(--space-1);
    }
    &-2 {
      margin-left: var(--space-2);
    }
    &-3 {
      margin-left: var(--space-3);
    }
    &-4 {
      margin-left: var(--space-4);
    }
    &-5 {
      margin-left: var(--space-5);
    }
    &-6 {
      margin-left: var(--space-6);
    }
    &-7 {
      margin-left: var(--space-7);
    }
    &-8 {
      margin-left: var(--space-8);
    }
    &-9 {
      margin-left: var(--space-9);
    }
    &-auto {
      margin-left: var(--space-auto);
    }
  }
}

.p {
  &-0 {
    padding: var(--space-0);
  }
  &-1 {
    padding: var(--space-1);
  }
  &-2 {
    padding: var(--space-2);
  }
  &-3 {
    padding: var(--space-3);
  }
  &-4 {
    padding: var(--space-4);
  }
  &-5 {
    padding: var(--space-5);
  }
  &-6 {
    padding: var(--space-6);
  }
  &-7 {
    padding: var(--space-7);
  }
  &-8 {
    padding: var(--space-8);
  }
  &-9 {
    padding: var(--space-9);
  }
  &-auto {
    padding: var(--space-auto);
  }
  &-x {
    &-0 {
      padding-left: var(--space-0);
      padding-right: var(--space-0);
    }
    &-1 {
      padding-left: var(--space-1);
      padding-right: var(--space-1);
    }
    &-2 {
      padding-left: var(--space-2);
      padding-right: var(--space-2);
    }
    &-3 {
      padding-left: var(--space-3);
      padding-right: var(--space-3);
    }
    &-4 {
      padding-left: var(--space-4);
      padding-right: var(--space-4);
    }
    &-5 {
      padding-left: var(--space-5);
      padding-right: var(--space-5);
    }
    &-6 {
      padding-left: var(--space-6);
      padding-right: var(--space-6);
    }
    &-7 {
      padding-left: var(--space-7);
      padding-right: var(--space-7);
    }
    &-8 {
      padding-left: var(--space-8);
      padding-right: var(--space-8);
    }
    &-9 {
      padding-left: var(--space-9);
      margin-right: var(--space-9);
    }
    &-auto {
      padding-left: var(--space-auto);
      padding-right: var(--space-auto);
    }
  }
  &-y {
    &-0 {
      padding-top: var(--space-0);
      padding-bottom: var(--space-0);
    }
    &-1 {
      padding-top: var(--space-1);
      padding-bottom: var(--space-1);
    }
    &-2 {
      padding-top: var(--space-2);
      padding-bottom: var(--space-2);
    }
    &-3 {
      padding-top: var(--space-3);
      padding-bottom: var(--space-3);
    }
    &-4 {
      padding-top: var(--space-4);
      padding-bottom: var(--space-4);
    }
    &-5 {
      padding-top: var(--space-5);
      padding-bottom: var(--space-5);
    }
    &-6 {
      padding-top: var(--space-6);
      padding-bottom: var(--space-6);
    }
    &-7 {
      padding-top: var(--space-7);
      padding-bottom: var(--space-7);
    }
    &-8 {
      padding-top: var(--space-8);
      padding-bottom: var(--space-8);
    }
    &-9 {
      padding-top: var(--space-9);
      padding-bottom: var(--space-9);
    }
    &-auto {
      padding-top: var(--space-auto);
      padding-bottom: var(--space-auto);
    }
  }
  &-t {
    &-0 {
      padding-top: var(--space-0);
    }
    &-1 {
      padding-top: var(--space-1);
    }
    &-2 {
      padding-top: var(--space-2);
    }
    &-3 {
      padding-top: var(--space-3);
    }
    &-4 {
      padding-top: var(--space-4);
    }
    &-5 {
      padding-top: var(--space-5);
    }
    &-6 {
      padding-top: var(--space-6);
    }
    &-7 {
      padding-top: var(--space-7);
    }
    &-8 {
      padding-top: var(--space-8);
    }
    &-9 {
      padding-top: var(--space-9);
    }
    &-auto {
      padding-top: var(--space-auto);
    }
  }
  &-r {
    &-0 {
      padding-right: var(--space-0);
    }
    &-1 {
      padding-right: var(--space-1);
    }
    &-2 {
      padding-right: var(--space-2);
    }
    &-3 {
      padding-right: var(--space-3);
    }
    &-4 {
      padding-right: var(--space-4);
    }
    &-5 {
      padding-right: var(--space-5);
    }
    &-6 {
      padding-right: var(--space-6);
    }
    &-7 {
      padding-right: var(--space-7);
    }
    &-8 {
      padding-right: var(--space-8);
    }
    &-9 {
      padding-right: var(--space-9);
    }
    &-auto {
      padding-right: var(--space-auto);
    }
  }
  &-b {
    &-0 {
      padding-bottom: var(--space-0);
    }
    &-1 {
      padding-bottom: var(--space-1);
    }
    &-2 {
      padding-bottom: var(--space-2);
    }
    &-3 {
      padding-bottom: var(--space-3);
    }
    &-4 {
      padding-bottom: var(--space-4);
    }
    &-5 {
      padding-bottom: var(--space-5);
    }
    &-6 {
      padding-bottom: var(--space-6);
    }
    &-7 {
      padding-bottom: var(--space-7);
    }
    &-8 {
      padding-bottom: var(--space-8);
    }
    &-9 {
      padding-bottom: var(--space-9);
    }
    &-auto {
      padding-bottom: var(--space-auto);
    }
  }
  &-l {
    &-0 {
      padding-left: var(--space-0);
    }
    &-1 {
      padding-left: var(--space-1);
    }
    &-2 {
      padding-left: var(--space-2);
    }
    &-3 {
      padding-left: var(--space-3);
    }
    &-4 {
      padding-left: var(--space-4);
    }
    &-5 {
      padding-left: var(--space-5);
    }
    &-6 {
      padding-left: var(--space-6);
    }
    &-7 {
      padding-left: var(--space-7);
    }
    &-8 {
      padding-left: var(--space-8);
    }
    &-9 {
      padding-left: var(--space-9);
    }
    &-auto {
      padding-left: var(--space-auto);
    }
  }
}

.g {
  &-0 {
    gap: var(--space-0);
  }
  &-1 {
    gap: var(--space-1);
  }
  &-2 {
    gap: var(--space-2);
  }
  &-3 {
    gap: var(--space-3);
  }
  &-4 {
    gap: var(--space-4);
  }
  &-5 {
    gap: var(--space-5);
  }
  &-6 {
    gap: var(--space-6);
  }
  &-7 {
    gap: var(--space-7);
  }
  &-8 {
    gap: var(--space-8);
  }
  &-9 {
    gap: var(--space-9);
  }
}
