.cp-spinner-icon {
  animation: spin-animation 700ms infinite;
  animation-timing-function: linear;
  display: inline-block;
  color: var(--primary-brand);
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cp-spinner {
  color: var(--primary-brand);

  &.cp-spinner--small {
    .cp-spinner-icon {
      font-size: 16px;
    }
  }

  &.cp-spinner--medium {
    .cp-spinner-icon {
      font-size: 32px;
    }
  }

  &.cp-spinner--large {
    .cp-spinner-icon {
      font-size: 64px;
    }
  }

  &.cp-spinner--dark {
    .cp-spinner-icon {
      color: var(--white);
    }
  }
}
