.cp-typography {
  font-family: var(--cp-font-family);
  font-size: var(--cp-font-size-md);
  font-weight: var(--cp-font-weight-regular);
  line-height: var(--cp-font-leading-md);
  letter-spacing: var(--cp-font-tracking-ui);
  color: var(--black);

  &.cp-typography--bold {
    font-weight: var(--cp-font-weight-bold);
  }

  &.cp-typography--h1 {
    font-size: var(--cp-font-size-4xl);
    font-weight: var(--cp-font-weight-bold);
    line-height: var(--cp-font-leading-4xl);
    letter-spacing: var(--cp-font-tracking-display);
  }

  &.cp-typography--h2 {
    font-size: var(--cp-font-size-2xl);
    font-weight: var(--cp-font-weight-bold);
    line-height: var(--cp-font-leading-2xl);
    letter-spacing: var(--cp-font-tracking-title);
  }

  &.cp-typography--h3 {
    font-size: var(--cp-font-size-xl);
    font-weight: var(--cp-font-weight-bold);
    line-height: var(--cp-font-leading-xl);
    letter-spacing: var(--cp-font-tracking-heading);
  }

  &.cp-typography--h4 {
    font-size: var(--cp-font-size-lg);
    font-weight: var(--cp-font-weight-medium);
    line-height: var(--cp-font-leading-lg);
    letter-spacing: var(--cp-font-tracking-ui);
  }

  &.cp-typography--h5 {
    font-size: var(--cp-font-size-md);
    font-weight: var(--cp-font-weight-medium);
    line-height: var(--cp-font-leading-md);
    letter-spacing: var(--cp-font-tracking-ui);
  }

  &.cp-typography--h6 {
    font-size: var(--cp-font-size-sm);
    font-weight: var(--cp-font-weight-medium);
    line-height: var(--cp-font-leading-sm);
    letter-spacing: var(--cp-font-tracking-caption);
  }

  &.cp-typography--span {
    font-size: var(--cp-font-size-md);
    font-weight: var(--cp-font-weight-regular);
    line-height: var(--cp-font-leading-md);
    letter-spacing: var(--cp-font-tracking-ui);
  }

  &.cp-typography--p {
    font-size: var(--cp-font-size-md);
    font-weight: var(--cp-font-weight-regular);
    line-height: var(--cp-font-leading-md);
    letter-spacing: var(--cp-font-tracking-ui);
  }

  &.cp-typography--small {
    font-size: var(--cp-font-size-xs);
    font-weight: var(--cp-font-weight-regular);
    line-height: var(--cp-font-leading-xs);
    letter-spacing: var(--cp-font-tracking-caption);
  }

  &.cp-typography--align-left {
    text-align: left;
  }

  &.cp-typography--align-center {
    text-align: center;
  }

  &.cp-typography--align-right {
    text-align: right;
  }

  &.cp-typography--word-break-normal {
    word-break: normal;
  }

  &.cp-typography--word-break-all {
    word-break: break-all;
  }

  &.cp-typography--word-break-wrap {
    word-wrap: break-word;
  }
}
