.typography {
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  color: var(--black);
  word-break: break-all;
}

.bold {
  font-weight: bold;
}

.h1 {
  font-size: 60px;
  line-height: 60px;
}

.h2 {
  font-size: 50px;
  line-height: 50px;
}

.h3 {
  font-size: 40px;
  line-height: 40px;
}

.h4 {
  font-size: 30px;
  line-height: 30px;
}

.h5 {
  font-size: 24px;
  line-height: 24px;
}

.h6 {
  font-size: 18px;
  line-height: 18px;
}

.span {
  font-size: 16px;
  line-height: 24px;
}

.p {
  font-size: 16px;
  line-height: 24px;
}

.small {
  font-size: 14px;
  line-height: 20px;
}

/* Text Alignment */
.align {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}
