.cp-typography {
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  color: #222;
}

/* Variants */
.h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: normal;
}

.h2 {
  font-size: 50px;
  line-height: 50px;
  font-weight: normal;
}

.h3 {
  font-size: 40px;
  line-height: 40px;
  font-weight: normal;
}

.h4 {
  font-size: 30px;
  line-height: 30px;
}

.h5 {
  font-size: 24px;
  line-height: 24px;
}

.h6 {
  font-size: 18px;
  line-height: 18px;
}

.p {
  font-size: 16px;
  line-height: 24px;
}

/* Colors */
.black {
  color: #222;
}

.white {
  color: #fff;
}

.gray {
  color: #666;
}

.blue {
  color: #3e63dd;
}

/* Margins */
.margin-top-none {
  margin-top: 0;
}

.margin-right-none {
  margin-right: 0;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-left-none {
  margin-left: 0;
}

.margin-top-small {
  margin-top: 4px;
}

.margin-right-small {
  margin-right: 4px;
}

.margin-bottom-small {
  margin-bottom: 4px;
}

.margin-left-small {
  margin-left: 4px;
}

.margin-top-medium {
  margin-top: 8px;
}

.margin-right-medium {
  margin-right: 8px;
}

.margin-bottom-medium {
  margin-bottom: 8px;
}

.margin-left-medium {
  margin-left: 8px;
}

.margin-top-large {
  margin-top: 16px;
}

.margin-right-large {
  margin-right: 16px;
}

.margin-bottom-large {
  margin-bottom: 16px;
}

.margin-left-large {
  margin-left: 32px;
}

.margin-top-extra-large {
  margin-top: 32px;
}

.margin-right-extra-large {
  margin-right: 32px;
}

.margin-bottom-extra-large {
  margin-bottom: 32px;
}

.margin-left-extra-large {
  margin-left: 32px;
}
