.cp-menu-list {
  .wrapper {
    background: var(--white);
    ul {
      display: flex;
      list-style: none;
      gap: 8px;
      margin: 0;
      padding: 0;
      li {
        a {
          text-decoration: none;
          display: flex;
          justify-content: center;
          gap: 8px;
          padding: 8px 16px;
          line-height: 24px;
          text-align: center;
          border-radius: 24px;
          .menuItemIcon {
            color: var(--primary-brand);
            opacity: 0.85;
          }
          .menuItemLabel {
            color: var(--primary-brand);
          }
          &:hover {
            background: var(--primary-brand-light);
          }
        }
        &.active {
          a {
            background: var(--primary-brand);
            .menuItemIcon {
              color: var(--white);
              opacity: 0.85;
            }
            .menuItemLabel {
              color: var(--white);
            }
          }
        }
      }
      &.horizontal {
        flex-direction: row;
      }
      &.vertical {
        flex-direction: column;
        li {
          a {
            width: 220px;
            justify-content: flex-start;
            gap: 12px;
          }
          @media (max-width: 1024px) {
            width: 100%;
          }
        }
      }
    }
  }
  @media (max-width: 475px) {
    .wrapper {
      gap: 8px;
      padding: 64px 16px 16px 16px;
      min-height: 100dvh;
      max-width: calc(100% - 64px);
      ul {
        li {
          a {
            padding-top: 12px;
            padding-bottom: 12px;
          }
        }
      }
    }
  }
}
