.cp-icon {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.cp-icon.cp-icon--small {
  font-size: 16px;
}

.cp-icon.cp-icon--medium {
  font-size: 24px;
}

.cp-icon.cp-icon--large {
  font-size: 36px;
}

.cp-icon.cp-icon--black {
  color: var(--black);
}

.cp-icon.cp-icon--white {
  color: var(--white);
}

.cp-icon.cp-icon--gray {
  color: var(--text-muted);
}

.cp-icon.cp-icon--blue {
  color: var(--blue);
}

.cp-icon.cp-icon--green {
  color: var(--green);
}

.cp-icon.cp-icon--red {
  color: var(--red);
}

.cp-icon.cp-icon--yellow {
  color: var(--yellow);
}

.cp-icon.cp-icon--orange {
  color: var(--orange);
}
