.cp-alert {
  font-family: var(--font-family);
  font-size: var(--font-size);
  padding: var(--space-2);
  border: 1px solid transparent;
  background: #96b9e4;
  color: var(--text-default);
  border-radius: var(--radius-medium);
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  column-gap: 16px;
  justify-content: space-between;
  overflow: hidden;

  &.cp-alert--info {
    background: var(--blue-light);
    .cp-alert-icon,
    .cp-alert-message {
      color: var(--blue);
    }
  }

  &.cp-alert--success {
    background: var(--green-light);
    .cp-alert-icon,
    .cp-alert-message {
      color: var(--green);
    }
  }

  &.cp-alert--error {
    background: var(--red-light);
    .cp-alert-icon,
    .cp-alert-message {
      color: var(--red);
    }
  }

  &.cp-alert--default {
    background: var(--gray-100);
    .cp-alert-icon,
    .cp-alert-message {
      color: var(--text-muted);
    }
  }

  &.cp-alert--warning {
    background: var(--orange-light);
    .cp-alert-icon,
    .cp-alert-message {
      color: var(--orange);
    }
  }

  .cp-alert-contents {
    display: flex;
    align-items: flex-start;
    column-gap: 16px;
  }

  .cp-alert-close {
    height: 24px !important;
    min-width: 24px !important;
    background: transparent !important;
    padding: 0 !important;
    border: none !important;
    color: var(--text-muted) !important;
  }

  &.cp-alert--small {
    column-gap: 8px;
    .cp-alert-contents {
      column-gap: 8px;
    }
    .cp-alert-icon {
      font-size: 18px;
      line-height: 20px;
    }
    .cp-alert-close {
      height: 20px !important;
      min-width: 20px !important;
    }
    .cp-alert-message {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &.cp-alert--medium {
    padding: var(--space-3);
    .cp-alert-contents {
      column-gap: var(--space-3);
    }
    .cp-alert-icon {
      font-size: 20px;
      line-height: 24px;
    }
    .cp-alert-close {
      height: 24px !important;
      min-width: 20px !important;
    }
    .cp-alert-message {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
