.cp-form-field {
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 16px;
  width: var(--length-full);
  max-width: var(--length-small);
}

.cp-form-field-fluid {
  max-width: var(--length-full);
}

.cp-form-field-disabled {
  opacity: 0.3;
}

.cp-form-label {
  display: block;
  margin-bottom: 8px;
  color: var(--gray);
}
.cp-form-control {
  height: 44px;
  border-radius: 8px;
  border: 1px solid var(--gray);
  padding: 0 16px;
  width: 100%;
}

.cp-form-control {
  height: 44px;
  border-radius: 8px;
  border: 1px solid var(--gray);
  padding: 0 16px;
}

.cp-form-control-error {
  border-color: var(--red);
}

.cp-form-error-message {
  font-size: 14px;
  color: var(--red);
  margin-top: 8px;
}

.cp-textarea-field {
  min-height: 88px;
  padding: 8px 16px;
}

.cp-select-field {
  position: relative;
  /* width: var(--length-full);
  max-width: var(--length-small); */
}

.cp-select-count {
  height: 20px;
  width: 20px;
  border-radius: 12px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  background: var(--primary-brand);
  color: var(--white);
  flex-shrink: 0;
  margin-right: 8px;
}

.cp-select-placeholder {
  text-overflow: ellipsis;
  max-width: 90%;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  margin-right: auto;
  line-height: 20px;
}

.cp-select-field-header {
  cursor: pointer;
  padding: 8px 16px;
  background: var(--white);
  border: 1px solid var(--gray);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 16px;
  border-radius: var(--radius-medium);
  height: 44px;
}

.cp-select-field-header-open {
  border-radius: var(--radius-medium) var(--radius-medium) 0 0;
}

.cp-select-field-options {
  position: absolute;
  top: 43px;
  left: 0;
  right: 0;
  border: 1px solid var(--gray);
  background-color: #fff;
  z-index: 999;
  max-height: 200px;
  overflow-y: auto;
  width: var(--length-full);
  max-width: var(--length-small);
}

.cp-select-field-options-top {
  top: -198px;
  /* background-color: pink; */
  border-radius: var(--radius-medium) var(--radius-medium) 0 0;
}

.cp-select-field-options-bottom {
  top: 43px;
  border-radius: 0 0 var(--radius-medium) var(--radius-medium);
}

.cp-select-field-option {
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cp-select-field-option-selected {
  background: var(--primary-brand);
  color: var(--white);
  height: 22px;
  width: 22px;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  border-radius: var(--radius-round);
  border: 1px solid var(--white);
}

.cp-select-field-option:hover {
  padding: 8px 16px;
  cursor: pointer;
  background: var(--primary-brand);
  color: var(--white);
}

.cp-select-field-arrow {
  margin-left: 8px;
}

.cp-radio-field {
}

.cp-checkbox-field {
}

.cp-file-field {
}

.cp-form-control {
  background: #f7f7f7;
  display: block;
  padding-top: 9px;
}

.cp-date-field-wrapper {
  display: flex;
}

.cp-date-field-day {
  border-radius: 8px 0 0 8px;
  width: 72px;
  min-width: 72px;
  margin-bottom: 0;
  .custom-field {
    border-radius: 8px 0 0 8px;
    padding-right: 4px;
    margin-bottom: 0;
  }
}

.cp-date-field-month {
  width: 78px;
  min-width: 78px;
  margin-bottom: 0;
  .custom-field {
    border-radius: 0;
    border-right-color: transparent;
    border-left-color: transparent;
    padding-right: 4px;
    margin-bottom: 0;
  }
}

.cp-date-field-year {
  width: 100px;
  min-width: 100px;
  margin-bottom: 0;
  .custom-field {
    border-radius: 0 8px 8px 0;
    padding-right: 4px;
    margin-bottom: 0;
  }
}
