.cp-footer {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
  .footer-custom-contents {
    margin-top: var(--space-4);
  }
  .copyright {
    text-align: center;
    margin-top: var(--space-4);
    small {
      color: var(--text-muted);
      a {
        text-decoration: none;
        color: var(--primary-brand);
      }
    }
  }
}
