.cp-avatar {
  font-family: inherit;
  font-size: inherit;
  border-radius: 50%;
  text-align: center;
  background: #ccc;
}

.cp-button:hover {
  background: #2847af;
}

.small {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 13px;
}

.small span {
  line-height: 24px;
  font-size: 16px;
}

.medium {
  height: 44px;
  width: 44px;
  line-height: 44px;
  font-size: 20px;
}

.medium span {
  line-height: 44px;
  font-size: 24px;
}

/* Margins */
.margin-top-none {
  margin-top: var(--space-none);
}

.margin-right-none {
  margin-right: var(--space-none);
}

.margin-bottom-none {
  margin-bottom: var(--space-none);
}

.margin-left-none {
  margin-left: var(--space-none);
}

.margin-top-small {
  margin-top: var(--space-small);
}

.margin-right-small {
  margin-right: var(--space-small);
}

.margin-bottom-small {
  margin-bottom: var(--space-small);
}

.margin-left-small {
  margin-left: var(--space-small);
}

.margin-top-medium {
  margin-top: var(--space-medium);
}

.margin-right-medium {
  margin-right: var(--space-medium);
}

.margin-bottom-medium {
  margin-bottom: var(--space-medium);
}

.margin-left-medium {
  margin-left: var(--space-medium);
}

.margin-top-large {
  margin-top: var(--space-large);
}

.margin-right-large {
  margin-right: var(--space-large);
}

.margin-bottom-large {
  margin-bottom: var(--space-large);
}

.margin-left-large {
  margin-left: var(--space-large);
}

.margin-top-extra-large {
  margin-top: var(--space-extra-large);
}

.margin-right-extra-large {
  margin-right: var(--space-extra-large);
}

.margin-bottom-extra-large {
  margin-bottom: var(--space-extra-large);
}

.margin-left-extra-large {
  margin-left: var(--space-extra-large);
}
