.cp-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-size: var(--font-size);
  border-radius: 50%;
  text-align: center;
  background: var(--primary-brand);
  color: var(--white);
  cursor: pointer;

  &.cp-avatar--small {
    width: 24px;
    height: 24px;
    font-size: 13px;
  }

  &.cp-avatar--medium {
    height: 44px;
    width: 44px;
    font-size: 18px;
  }

  &.cp-avatar--text-length-2 {
    &.cp-avatar--small {
      font-size: 10px;
    }
    &.cp-avatar--medium {
      font-size: 14px;
    }
  }

  &.cp-avatar--text-length-3 {
    &.cp-avatar--small {
      font-size: 10px;
    }
    &.cp-avatar--medium {
      font-size: 14px;
    }
  }

  &.cp-avatar--text-length-4 {
    &.cp-avatar--small {
      font-size: 9px;
    }
    &.cp-avatar--medium {
      font-size: 12px;
    }
  }

  &.cp-avatar--image {
    background-color: var(--white);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--radius-round);
    }
  }

  &.cp-avatar--icon {
    background-color: var(--primary-brand);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
